.card {
    display: flex;
    align-items: center;
}

.posicion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 3.5em;
    font-family: 'Secular One', sans-serif;
}

.pais {
    display: flex;
    flex: 7;
    border-style: solid;
    border-width: 0px;
    border-radius: 20px;
    align-items: center;
    padding: 5px 10px 5px 10px;
    box-shadow: 5px 5px 5px 0px #424242;
}

.pais .logo{
    display: flex;
    align-content: center;
    flex:1
}

.pais .nombre{
    text-align: left;
    font-size: 2.3em;
    flex:9
}
