.card {
    display: flex;
    align-items: center;
    color: white;
}

.posicion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 3.5em;
    font-family: 'Secular One', sans-serif;
}

.pais {
    display: flex;
    flex: 7;
    align-items: center;
    padding: 5px 10px 5px 10px;
    white-space: normal
}

.pais .logo{
    display: flex;
    align-content: center;
    flex:1
}

.pais .nombre{
    text-align: left;
    font-size: 2em;
    flex:4
}
