.grupo {
    padding: 5px;
    margin: 5px;
}

.grupo .title{
    text-align: center;
    font-size: 2em;
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;
}

.grupo-list {
    padding: 10px 10px 10px 0;
    list-style: none;
}

.grupo-list li{
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
}